
<!DOCTYPE html>
<html>
<head>
<title>contact</title>
<meta content="noindex, nofollow" name="robots">
<!-- Include CSS File Here-->
<link rel="stylesheet" href="../public/css/contact.css">
</head>
<body>
    {{>navbar}}
<div class="bg11">
    <div id="main">
<div id="first">

<form action="/contact" method="post">
<h1>Contact Form</h1>
<h4>Please fill all entries.</h4>
<label>subject :</label>
<input type="text" placeholder="Your Name" name="subject">
<label>Email :</label>
<input type="email" placeholder="Your Email" name="email">
<label>Message :</label>
<textarea name="message" placeholder="Message" type="text">
</textarea>
<input  type="submit" value="Send">
<h5 style="color: rgb(84, 71, 71);">{{message}}</h5>
</form>
</div>
</div>
</div>
{{>foot}}
</body>
</html>
