<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

   
    <div class="">
        <form action="/email" method="post">
        <h1>verify email</h1>
        <label for=""></label>
        <input type="email" name="email">
        <a href=""><button type="submit">send otp</button></a>
        <p style="color: red;">{{message}}</p>
        </form>
    </div>
</body>
</html>