<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/password.css">
</head>
<body>
    <form action="/password" method="post">

  <p>
    <input type="password" name="password" placeholder="enter new password" ><br>
    <input type="password" name="confirmpassword" placeholder="enter confirm password"> <br>
  <p style="color: red;">{{message}}</p>
    <button type="submit">submit</button>
  </p>
</form> 
</body>
</html>