@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* *{
  font-family: 'Times New Roman', Times, serif;
} */

p
{
    font-weight: 300;
    color: #111;
  
}

.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)),url(../image/bg.jpg);
    background-size: cover;
    background-size: 100%;
}

.banner .content
{
    max-width: 900px;
    text-align: center;
}

.banner .content h2
{
    font-size: 5em;
    color: #fff;
}   
.banner .content p
{
    font-size: 1em;
    color: #fff;
}  

.btn
{
    font-size: 1.5em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    margin-top: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    transition: .5s;
}

.btn:hover
{
    letter-spacing: 5px;
}
 /* navbar */
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}

.sticky
{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.sticky .logo
{
    color: #111;
}

.sticky .navigation li a
{
    color: #111;
}

header .logo
{
    color: #fff;
    font-weight: bold;
    font-size: 2.5em;
    text-decoration: none;
}

header .logo span
{
    color:#ff0157;
}

header .navigation
{
    position: relative;
    display: flex;
}
header .navigation li
{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a
{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 1.5em;
    transition: .5s;
}

header .navigation li a:hover
{
    color: rgb(116, 174, 205);
}

section
{
    padding: 80px;
}

@media (max-width: 991px)
{
    header,
    header .sticky
    {
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li{
        margin-left: 0;
    }
    header .navigation li a{
        color: #111;
        font-size: 1.6em;
    }
    .menutoggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(https://i.postimg.cc/qq7WKZ1m/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menutoggle.active
    {
        background: url(https://i.postimg.cc/yNcK65Gc/close.png);
        background-size: 25px;

        background-repeat: no-repeat;
        background-position: center;
    }
    .sticky .menutoggle{
        filter: invert(1);
    }
    section{
        padding: 20px;
    }
    .banner .content h2 {
        font-size: 3em;
        color: #fff;
    }
    .row {
        flex-direction: column;
    }
    .row .col50 {
        position: relative;
        width: 100%;
    }
    .row .col50 .imgbx{
        height: 300px;
        margin-top: 20px;
    }
    .menu .content {
        margin-top: 20px;
    }
    .menu .content .box {
        margin: 10px;
    }
    .menu .content .box .imgbx {
        height: 260px;
    }
    .titeText {
        font-size: 1.8em;
        text-align: center;
    }
    .expert .content {
        margin-top: 20px;
    }
    .testimonial .content .box {
        margin: 10px;
        padding: 30px;  
    }
    .expert .content .box {
        margin: 20px;
    }
    .contactform {
        padding: 40px 30px;
    }
    .sticky {
        padding: 10px 30px;
    }
}
/* end  */

/* home */
.row
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50
{
    position: relative;
    width: 48%; 
}

.titeText
{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.titeText span
{
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}

.imgbx{
    position: relative;
    width: 100%;
    min-height: 300px;
}

.imgbx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu .content
{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}

.menu .content .box
{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}

.menu .content .box .imgbx
{
    position: relative;
    width: 100%;
    height: 300px;
}

.menu .content .box .imgbx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text
{
    padding: 15px 0 5px;
    text-align: center;
}

.text h3
{
    font-weight: 400;
    color: #111;
}

.expert .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.expert .content .box
{
    width: 250px;
    margin: 30px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}

.expert .content .box .imgbx
{
    position: relative;
    width: 100%;
    height: 300px;
}

.expert .content .box .imgbx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial
{
    background: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)),url(https://i.postimg.cc/k5dZs5jR/bg2.jpg);
    background-size: cover;
}

.white .titeText,
.white p
{
    color: #fff;
}

.testimonial .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.testimonial .content .box
{
     width: 350px;
     margin: 20px;
     padding: 40px;
     background: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
.testimonial .content .box img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 48%;
}
.testimonial .content .box .text
{
    text-align: center;

}
.testimonial .content .box .text p
{
    color: #666;
    font-style: italic;
}

.testimonial .content .box .text h2{
    margin-top: 20px;
    color: #111;
    font-size: 1.5em;
    color: #ff0157;
    font-weight: 600;
}

.contactus
{
    background: url(https://i.postimg.cc/4NmrNq7y/bg3.jpg);
    background-size: cover;
}

.contactform
{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    max-width: 500px;
    margin-top: 50px;
}

.contactform h3
{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

.contactform .inputbox
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactform .inputbox input,
.contactform .inputbox textarea
{
    width: 100%;
    border: 1px solid #555;
    border-radius: 10px;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.contactform .inputbox input[type="submit"]
{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    max-width: 100px;
    transition: .5s;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.footer{
    background: #ff0157;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer p{
    color: #fff;
    font-weight: 300;
}

.footer .icons a{
    color: #fff;
}


.form-search {
  margin: 20 auto;
  text-align: center;

  font: bold 13px sans-serif;
  max-width: 70%;
  position: relative;
}

.form-search input {
  width: 60%;
  box-sizing: border-box;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  background-color: #ffffff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 15px 14px 40px;
  border: 1px solid #b6c3cd;
  ;
  border-right: 0;
  color: #4E565C;
  outline: none;
  /* -webkit-appearance: none; */
}

.form-search button {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #6caee0;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
  padding: 15px 22px;
  margin-left: -4px;
  cursor: pointer;
  border: none;
  outline: none;
}

.form-search i {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 16px;
  color: #80A3BD;
}

/* body {
  padding-top: 80px;
} */ 




/********************* Shopping Demo-4 **********************/
/* .product-grid4,
.product-grid4 .product-image4 {
  position: relative
} */

.product-grid4 {
  font-family: Poppins, sans-serif;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  transition: all .3s ease 0s
}

.product-grid4:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, .2)
}

.product-grid4 .product-image4 a {
  display: block
}

.product-grid4 .product-image4 img {
  width: 100%;
  height: auto
}

.product-grid4 .pic-1 {
  opacity: 1;
  transition: all .5s ease-out 0s
}

.product-grid4:hover .pic-1 {
  opacity: 0
}

.product-grid4 .pic-2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .5s ease-out 0s
}

.product-grid4:hover .pic-2 {
  opacity: 1
}

.product-grid4 .social {
  width: 180px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all .3s ease 0s
}

.product-grid4 .social li {
  display: inline-block;
  opacity: 0;
  transition: all .7s
}

.product-grid4 .social li:nth-child(1) {
  transition-delay: .15s
}

.product-grid4 .social li:nth-child(2) {
  transition-delay: .3s
}

.product-grid4 .social li:nth-child(3) {
  transition-delay: .45s
}

.product-grid4:hover .social li {
  opacity: 1
}

.product-grid4 .social li a {
  color: #222;
  background: #fff;
  font-size: 17px;
  line-height: 36px;
  width: 40px;
  height: 36px;
  border-radius: 2px;
  margin: 0 5px;
  display: block;
  transition: all .3s ease 0s
}

.product-grid4 .social li a:hover {
  color: #fff;
  background: #16a085
}

.product-grid4 .social li a:after,
.product-grid4 .social li a:before {
  content: attr(data-tip);
  color: #fff;
  background-color: #000;
  font-size: 12px;
  line-height: 20px;
  border-radius: 3px;
  padding: 0 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute; 
  left: 50%;
  top: -30px
}

.product-grid4 .social li a:after {
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -22px;
  z-index: -1
}

.product-grid4 .social li a:hover:after,
.product-grid4 .social li a:hover:before {
  opacity: 1
}

.product-grid4 .product-discount-label,
.product-grid4 .product-new-label {
  color: #fff;
  background-color: #16a085;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 45px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 15px;
  transition: all .3s
}

.product-grid4 .product-discount-label {
  left: auto;
  right: 10px;
  background-color: #d7292a
}

.product-grid4:hover .product-new-label {
  opacity: 0
}

.product-grid4 .product-content {
  padding: 25px
}

.product-grid4 .title {
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 0 7px;
  transition: all .3s ease 0s
}

.product-grid4 .title a {
  color: #222
}

.product-grid4 .title a:hover {
  color: #16a085
}

.product-grid4 .price {
  color: #16a085;
  font-size: 17px;
  font-weight: 700;
  margin: 0 2px 15px 0;
  display: block
}

.product-grid4 .price span {
  color: #909090;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  text-decoration: line-through;
  text-align: left;
  vertical-align: middle;
  display: inline-block
}

.product-grid4 .add-to-cart {
  border: 1px solid #e5e5e5;
  display: inline-block;
  padding: 10px 20px;
  color: #888;
  font-weight: 600;
  font-size: 14px;
  border-radius: 4px;
  transition: all .3s
}

.product-grid4:hover .add-to-cart {
  border: 1px solid transparent;
  background: #16a085;
  color: #fff
}

.product-grid4 .add-to-cart:hover {
  background-color: #505050;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

@media only screen and (max-width:990px) {
  .product-grid4 {
    margin-bottom: 30px
  }
}



/* footer  */
p{
  color: white;
}
.main{
  height: 50vh;
}
.hover-effect1 {
  min-height: 20px;
  background: #ac8784;
  text-align: center;
}
.hover-effect1 ul {
 padding-top: 1px;
}
.hover-effect1 ul li {
 display: inline-block;
}
.hover-effect1 ul li a {
 font-size: 30px;
 text-align: center;
 color: #fff;
 margin: 0px 10px;
 line-height: 50px;
 display: inline-block;
 width: 50px;
 height: 50px;
 background:#dc3545;
 -webkit-transition: all .6s ease;
 -moz-transition: all .6s ease;
 -ms-transition: all .6s ease;
 -o-transition: all .6s ease;
 transition: all .6s ease;
}
.hover-effect1 ul li:hover a {
  border-radius: 50%;
  background: #dc3545;
 -moz-transform: rotate(360deg);
 -webkit-transform: rotate(360deg);
 -o-transform: rotate(360deg);
 -ms-transform: rotate(360deg);
 transform: rotate(360deg);
}




